<a href="{{ video_url }}" target="_blank" class="stretched-link">
    <div class="genz-card" style="
        --accent-color: {{ color }}; 
        --accent-color-dim: {{ color }}40;
        --rec-bg: {{ rec_bg }};     /* Nuova variabile CSS */
        --rec-text: {{ rec_text }}; /* Nuova variabile CSS */
    ">
        
        <div class="card-img-top" style="background-image: url('{{ image_url }}');">
            
            <div class="card-badge badge-left">
                <span class="dot-indicator"></span>
                {{ channel }}
            </div>
            
            <div class="card-badge badge-right" style="background-color: var(--rec-bg); color: var(--rec-text);">
                {{ rec }}
            </div>
        </div>

        <div class="card-body">
            