<div class="tech-box">
    <div class="tech-row">
        <div>
            <div class="tech-label">ENTRY</div>
            <div class="tech-val">{{ entry }}</div>
        </div>
        <div>
            <div class="tech-label">TARGET</div>
            <div class="tech-val">{{ target }}</div>
        </div>
    </div>
    <div class="tech-row" style="margin-bottom: 0;">
        <div>
            <div class="tech-label">STOP</div>
            <div class="tech-val">{{ stop }}</div>
        </div>
        <div>
            <div class="tech-label">HORIZON</div>
            <div class="tech-val">{{ horizon }}</div>
        </div>
    </div>
</div>